<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politiquizz</title>
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
</head>
<body>
    <div class="landing-container">
        <h1 class="landing-title">Politiquizz</h1>
        
        <button class="landing-button">Informação</button>
        <button class="landing-button" onclick="window.location.href='/games';">Jogos</button>
        <button class="landing-button">Notícias</button>

    </div>
</body>
</html>
