<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politiquizz</title>
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
</head>
<body>
    <div class="landing-container">
        <h1 class="landing-title">Politiquizz</h1>
        
        <button class="landing-button" onclick="window.location.href='/dilemma';">Dilema</button>
        <button class="landing-button" onclick="window.location.href='/intruder';">Intruso</button>
        <button class="landing-button" onclick="window.location.href='/guess-party';">Partido</button>
    </div>
</body>
</html>
